@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.profile-img{
    clip-path: polygon(0 0%, 100% 0, 100% 90%, 0% 100%);
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px !important;
    transition: 0.3s ease-in-out;
}


.stats ul li::before {
content:"";
width: 10px ;
height: 10px ;
z-index: 1000;
background-color: white;
border-radius: 50%;
border: 2px solid rgb(62, 62, 165);
position: absolute;
display: block;
margin-top: 5px;

margin-left:-14px ;

}






.stats ul li:nth-child(1):before {
    content:"";
    width: 30px ;
    height: 30px ;
    z-index: 1000;
    background-color: rgb(62, 62, 165);
    border-radius: 50%;

    position: absolute;
    display: block;
    top:0;
    left: 0;
    margin-left: -16px;

    margin-top: -20px;
    }



.stats ul{
border-left:2px solid gray;

    }



    .resume ul li::before {
        content:"";
        width: 10px ;
        height: 10px ;
        z-index: 1000;
        background-color: white;
        border-radius: 50%;
        border: 2px solid rgb(62, 62, 165);
        position: absolute;
        display: block;
        margin-top: 5px;

        margin-left:-26px ;

        }

        .resume ul li:nth-child(1):before {
            content:"";


            opacity: 0;



            }

            .resume ul li:nth-child(2):before {
                content:"";


                opacity: 0;



                }










        .resume ul{
        border-left:2px solid rgb(201, 201, 201);
            padding-left: -20px;
            padding-right: 20px;



            }



@media (max-width: 600px){
    .stats ul li::before {
        content:"";
        width: 10px ;
        height: 10px ;
        z-index: 1000;
        background-color: white;
        border-radius: 50%;
        border: 2px solid rgb(62, 62, 165);
        position: absolute;
        display: block;
        margin-top: 5px;

        margin-left:-22px ;

        }
}